[submodule "tesseract"]
	path = tesseract
	url = https://github.com/tesseract-ocr/tesseract
[submodule "tessdata"]
	path = tessdata
	url = https://github.com/tesseract-ocr/tessdata
[submodule "src-engines/llama.cpp"]
	path = src-engines/llama.cpp
	url = https://github.com/user/llama.cpp.git
