@import "tailwindcss";
@import "./classless.css";

@custom-variant hover (&:hover);

body {
  /*height: 100dvh;*/
}

#root {
  height: 100%;
}

.ant-app {
  height: 100%;
  width: 100%;
}

/*** Works on common browsers ***/
::selection {
  background-color: rgba(0, 255, 234, 0.32) !important;
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: rgba(0, 255, 234, 0.32) !important;
}

/***For Other Browsers ***/
::-o-selection {
  background-color: rgba(0, 255, 234, 0.32) !important;
}

::-ms-selection {
  background-color: rgba(0, 255, 234, 0.32) !important;
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: rgba(0, 255, 234, 0.32) !important;
}
