@import "tailwindcss";
@import "./classless.css";

@custom-variant hover (&:hover);

/* Transparent window styles with blur */
html,
body,
#root {
  background: transparent !important;
}


.ant-menu-vertical {
  border-inline-end: none !important;

  .ant-menu-item {
    height: 1.75rem;
    line-height: 2.35;
  }
}
